@model IEnumerable<TableTopCharacterManager.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CharacterName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CharacterClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CharacterRace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhysicalDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Equipment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAlive)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterRace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
